<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

  <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-success">
                            <i class="fa fa-support text-large"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">Служба поддержки</p>
                            <p class="text-muted">Для решения вопросов</p>
                            </br>
                          <a href="http://bank-epti.mcdir.ru/admin/form.php?id=2" target="blank" class="btn btn-primary">Отправить обращение</a>
                        </div>
                    </section>
                </div>

                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-danger">
                            <i class="fa fa-shield text-large"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">Служба качества</p>
                            <p class="text-muted">Для жалоб и предложений</p>
                          </br>
                          <a href="http://bank-epti.mcdir.ru/admin/form.php?id=2" target="blank" class="btn btn-primary">Отправить обращение</a>
                        </div>
                    </section>
                </div>
            </div>

<!-- Accordion -->
    <section class="panel panel-danger">
        <div class="panel-heading"><span class="glyphicon glyphicon-flash"></span> Часто задаваемые вопросы</div>
        <div class="panel-body" data-ng-controller="AccordionDemoCtrl">
            <div class="row">
                <div class="col-md-12">
                    <accordion close-others="oneAtATime" class="ui-accordion ">
                        <accordion-group heading="Займ был одобрен. Но деньги я так и не получил." is-open="status.isFirstOpen3">
                            Обращаем Ваше внимание, что перевод заёмных средств доступен только для идентифицированных аккаунтов. Если Ваш аккаунт верифицирован и Вы всё равно не можете получить займ, обратитесь в Службу поддержки.
                        </accordion-group>
                        <accordion-group heading="Почему мне одобрили займ на меньшую сумму, чем я запрашивал?">
                            Наша система может уменьшить сумму к выдаче, основываясь на данных, которые  были предоставлены Вами.
                        </accordion-group>
                        <accordion-group heading="Почему не получается зарегистрировать карту?">
                             Решение о регистрации карты система принимает автоматически. Если Ваша карта не прошла регистрацию, попробуйте зарегистрировать другую из имеющихся у Вас карт. Как только одна из Ваших карт пройдет проверку в системе, Вы сможете оформить займ.</br>
                             Обратите внимание на то, что мы принимаем не все банковские карты.
                             Чтобы карта прошла успешную регистрацию в системе, должны быть выполнены несколько условий:</br>
                             - Регистрируемая карта должна быть выпущена на Ваше имя.</br>
                             - Мы принимаем дебетовые и кредитные банковские карты Visa или MasterCard (кроме Maestro).</br>
                             - Эмитентом карты должен являться банк, работающий на территории РФ.</br>
                             - На счету карты должно быть не менее 300 рублей. </br>
                             На банковской карте будет заблокирована случайная сумма до 300 рублей. Если на Вашей карте будет недостаточно средств, Ваш аккаунт будет заблокирован. Пожалуйста, отнеситесь серьёзнее к данной операции.
                        </accordion-group>
                        <accordion-group heading="Из скольки цифр состоит номер банковской карты? Совпадает ли номер карты с номером банковского счета, к которому она привязана?">
                             В зависимости от того, какой тип карты Вы регистрируете, количество цифр может быть от 13 до 19. Самая распространенная длина номера карты – 16 цифр. Номер карты располагается на ее лицевой стороне. Банковский счет состоит из 20 цифр. Номер карты и номер банковского счета являются разными номерами.
                        </accordion-group>
                        <accordion-group heading="В какое время я могу получить займ?">
                             Заявку на займ Вы можете оформить круглосуточно.
                        </accordion-group>
                        <accordion-group heading="Могу ли я продлить срок займа?">
                             Да, Океан Займ предоставляет своим клиентам такую возможность. Вы можете продлить займ на любой срок от 7 до 30 дней, оплатив только проценты за период пользования займом. Продлить договор микрозайма можно только в Личном кабинете. 
                        </accordion-group>
                        <accordion-group heading="Сколько раз я могу продлить срок займа?">
                             Вы можете продлить займ неограниченное количество раз
                        </accordion-group>
                        <accordion-group heading="У меня была просрочка в банке. Могу ли я подать заявку на займ?">
                             Наша компания в своей  работе использует полностью автоматизированную  систему,  которая  учитывает  большой спектр  данных. Наличие просрочки  в любой другой кредитной организации не означает, что Вам будет автоматически отказано в займе у нас.
                        </accordion-group>
                        <accordion-group heading="У меня нет банквоской карты. Я могу как-то по-другому идентифицировать аккаунт?">
                             К сожалению, нет.
                        </accordion-group>
                    </accordion>
                </div>
                </div>
            </div>
        
            
                </div>
            </div>
        </div>
    </section>
    <!-- end Accordion -->
